.content-wrapper {
  /* paragraph */
  & > :not(p) + p {
    margin-top: 2rem;
  }
  & > p + :not(p) {
    margin-top: 2rem;
  }
  & > p + p {
    margin: 1rem 0;
  }
  & > p {
    padding: 0 1rem;
    line-height: 1.6;
  }

  /* heading 2 */
  & > h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3;
    background: black;
    color: white;
    padding: 0.75rem 1rem;
  }
  /* heading 3 */
  & > h3 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
    border-left: 0.5rem black solid;
    padding: 1rem;
    background: #f1f1f3;
  }

  /* list */
  & > :is(ul, ol) {
    margin: 1.5rem 1rem;
    padding: 1rem 1rem 1rem 2rem;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 0.25rem;
  }
  & > ul {
    list-style-type: square;
  }

  /* image */
  & > figure.wp-block-image {
    position: relative;

    & figcaption {
      position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
      margin: 0;
      background: black;
      color: white;
      font-size: 1rem;
    }
  }

  /* table */
  & > figure.wp-block-table {
  }

  /* iframe */
  & > iframe {
    width: 100%;
  }

  /* embed youtube */
  & > figure.wp-block-embed-youtube {
    & > div {
      display: flex;
    }
    & iframe {
      width: 100% !important;
      height: auto;
      aspect-ratio: 1.78/1;
    }
    & figcaption {
      margin: 0.25rem 0 2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
